<div class="dlazdice-grid dlazdice-grid--sloupec">
    {% for zajezd in collections.topnabidka %}
            <a href="{{ zajezd.url }}" class="dlazdice">
                <img class="dlazdice__foto" src="/images/{{ zajezd.data.foto }}" alt="{{ zajezd.data.alt }}">
                <div class="dlazdice__cena">
                    {{ zajezd.data.cena }}
                </div>
                <div class="dlazdice__text">
                    <h3 class="dlazdice__nazev">{{ zajezd.data.titulek }}</h3>
                    <p class="dlazdice__popis">{{ zajezd.data.podtitulek}}</p>
                </div>
            </a>
        {% endfor %}
</div>