<header class="hlavicka u-my4">
    <a href="/">
        <img class="logo" src="/images/logo.svg" alt="Cestovka logo" width="237" height="30">
    </a>

    <nav class="menu">
        <a class="menu__link" href="/lastminute/">Last minute</a>
        <a class="menu__link" href="/stranka/">Destinace</a>
        <a class="menu__link" href="/novinky/">Novinky</a>
    </nav>
</header>