<div class="stranka u-my4">

    <!-- levý sloupec s hlavním obsahem stránky -->
    <section class="stranka__obsah">

        {{ content | safe }}

    </section>
    <!-- konec levého sloupce-->