<section class="vyhody u-my5">

    <div class="vyhoda">
        <img class="vyhoda__ikona" src="images/map.svg" alt="ikona" width="40" height="40">
        <h3 class="vyhoda__nazev">Podpora na místě</h3>
        <p class="vyhoda__popis">V cílové destinaci jsou k dispozici naši delegáti, kteří vám vždy rádi poradí.</p>
    </div>

    <div class="vyhoda">
        <img class="vyhoda__ikona" src="images/plane.svg" alt="ikona" width="40" height="40">
        <h3 class="vyhoda__nazev">Služby na letišti</h3>
        <p class="vyhoda__popis">Při odletu tam i zpět za vás odbavíme vaše zavadla. Na letišti nebudete čekat.</p>
    </div>

    <div class="vyhoda">
        <img class="vyhoda__ikona" src="images/globe.svg" alt="ikona" width="40" height="40">
        <h3 class="vyhoda__nazev">Do celého světa</h3>
        <p class="vyhoda__popis">Nabízíme pravidelné slevy na vybraných destinací na všech kontinentech.</p>
    </div>

    <div class="vyhoda">
        <img class="vyhoda__ikona" src="images/shield.svg" alt="ikona" width="40" height="40">
        <h3 class="vyhoda__nazev">Vaše bezpečí</h3>
        <p class="vyhoda__popis">Není-li v&nbsp;cílové destinaci v&nbsp;čase odletu bezpečno, vrátíme vám peníze.</p>
    </div>

</section>