{% include "partials/base-header.njk" %}
{% include "partials/menu.njk" %}
{% include "partials/stranka-left.njk" %}
{% include "partials/stranka-right.njk" %}
{% include "partials/base-footer.njk" %}