{% include "partials/base-header.njk" %}
{% include "partials/menu.njk" %}
{% include "partials/zajezd-left.njk" %}
{% include "partials/zajezd-right.njk" %}
{% include "partials/base-footer.njk" %}